Repository RebeccaStevens/transpose-array: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, cspell --config=.cspell.json

.lintstagedrc:

{
  "./**/*.{md,yml}": [
    "prettier --write"
  ],
  "./**/*.{mts,ts}": [
    "prettier --write",
    "eslint --fix"
  ],
  "./**/*.{md,mts,ts}": [
    "cspell --config=.cspell.json"
  ]
}

feat: initial implementation
  src/index.ts
  src/types.ts
  tests/transpose-in-place.test.ts
  tests/transpose.test.ts
  tests/types.test-d.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  dist/deno/LICENSE
  dist/deno/README.md
  dist/deno/index.js
  dist/deno/index.ts
  dist/deno/mod.ts
  dist/deno/types.js
  dist/deno/types.ts
  dist/node/index.cjs
  dist/node/index.mjs
  dist/node/types/current/index.d.cts
  dist/node/types/current/index.d.mts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

Notes added by 'git notes add'
  d618dfa6475e0976f8c54f9b58792f3a0e64ba07
Due: none

feat: expose the Transpose type
  src/implementation.ts
  src/index.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

docs: update description
  README.md
  package.json
Due: prettier --write, cspell --config=.cspell.json

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  dist/deno/README.md
  dist/deno/implementation.js
  dist/deno/implementation.ts
  dist/deno/index.js
  dist/deno/index.ts
  dist/node/types/current/index.d.cts
  dist/node/types/current/index.d.mts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

Notes added by 'git notes add'
  a87f447da6b78c38180661fd67e7b8aa9fe33dbb
Due: none

chore: update renovate
  .github/renovate.json
Due: none

docs: add Security Policy
  SECURITY.md
Due: prettier --write, cspell --config=.cspell.json

docs: update Donations
  DONATIONS.md
Due: prettier --write, cspell --config=.cspell.json

chore: switch to pnpm
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .npmrc
  .yarnrc.yml
  package.json
  pnpm-lock.yaml
  yarn.lock
Due: prettier --write

chore: update configs
  .cspell.json
  .gitattributes
  .github/renovate.json
  .lintstagedrc
  .lintstagedrc.yml
  .prettierrc
  .prettierrc.yml
  .releaserc.yml
  cspell.config.yaml
  project-dictionary.txt
Due: prettier --write

ci: update workflow
  .github/actions/prepare/action.yml
  .github/workflows/ci.yml
  .github/workflows/done-label.yml
  .github/workflows/labels.yml
  .github/workflows/lint-docs.yml
  .github/workflows/lint-js.yml
  .github/workflows/lint-markdown.yml
  .github/workflows/lint-prettier.yml
  .github/workflows/lint-spelling.yml
  .github/workflows/release.yml
  .github/workflows/semantic-pr.yml
  .github/workflows/stale.yml
  .github/workflows/sync-labels.yml
  .github/workflows/test-js.yml
  .github/workflows/type-check.yml
  .prettierignore
  cspell.config.yaml
  package.json
  project-dictionary.txt
Due: prettier --write

ci: update workflow
  .github/actions/prepare/action.yml
  .github/workflows/ci.yml
  .github/workflows/done-label.yml
  .github/workflows/labels.yml
  .github/workflows/lint-js.yml
  .github/workflows/lint-markdown.yml
  .github/workflows/lint-prettier.yml
  .github/workflows/lint-spelling.yml
  .github/workflows/release.yml
  .github/workflows/semantic-pr.yml
  .github/workflows/stale.yml
  .github/workflows/sync-labels.yml
  .github/workflows/test-js.yml
  .github/workflows/type-check.yml
  .prettierignore
  ava.config.mjs
  cspell.config.yaml
  package.json
  pnpm-lock.yaml
  project-dictionary.txt
  tsconfig.base.json
Due: prettier --write

chore: fixups
  .eslintrc.json
  .github/workflows/test-js.yml
  ava.config.mjs
  src/implementation.ts
  src/types.ts
  tests/transpose-in-place.test.ts
  tests/transpose.test.ts
  tests/types.test-d.ts
Due: prettier --write, eslint --fix, cspell --config=.cspell.json

chore: add release script
  package.json
Due: none
